/* file for your css */

.center {
  text-align: center;
  padding: 10px 10px;
  margin: auto auto;
}
.wrong {
  background-color: red;
}

.result {
  display: inline-block;
  font-size: 20px;
  margin: 20px 20px;
}
