<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="App" ng-controller="Ctrl">
        <div class="container">
            <h1>Fruit and Veggies</h1>
             <div>
              <button ng-click="checkWin()" class="btn btn-success">Did I win?</button>
              <p ng-model="result" class="result">{{ result }}</p>
              <button ng-click="gameStart($scope.comboArray)" class="btn btn-info pull-right">Reset</button>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="center">Fruits</h4>
                  <!-- ng-class="{wrong: fruit.type !== 'fruit'"> -->
                    <div class="well" ng-repeat="fruit in fruitsAnswers track by $index"><span class="center">{{ fruit }}</span><button class="btn btn-primary pull-right" ng-click="moveBackRight($index)">&rarr;</button></div>
                </div>
                <div class="col-sm-4">
                    <h4 class="center">Produce</h4>
                    <div class="well" ng-repeat="prodi in produce track by $index"><button class="btn btn-primary pull-left" ng-click="moveLeft($index)">&larr;</button><span class="center">{{ prodi }}</span><button class="btn btn-primary pull-right" ng-click="moveRight($index)">&rarr;</button></div>
                </div>
                <div class="col-sm-4">
                    <h4 class="center">Veggies</h4>
                    <div class="well" ng-repeat="veggie in vegetablesAnswers track by $index"><button class="btn btn-primary pull-left" ng-click="moveBackLeft($index)">&larr;</button><span class="center">{{ veggie }}</span></div>
                </div>
            </div>
        </div>
    </body>
</html>
